<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.example.demo.PetMapper">
	<select id="findAll" resultType="com.example.demo.Pet">
		select * from pets
		order by id;
	</select>
	<select id="findById" resultType="com.example.demo.Pet">
		SELECT * FROM pets WHERE id =
		#{id}
	</select>
<!--	<insert id="insert" useGeneratedKeys="true" keyProperty="id">-->
<!--		INSERT INTO pets (name) VALUES (#{pets.name})-->
<!--	</insert>-->
	<!-- <update id="update"> -->
	<!-- UPDATE pets -->
	<!-- SET name = #{pets.name} -->
	<!-- WHERE -->
	<!-- id = #{pets.id} -->
	<!-- </update> -->
	<!-- <delete id="delete"> -->
	<!-- DELETE FROM pets WHERE id = #{id} -->
	<!-- </delete> -->
</mapper>